<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - vega</title>
    <base href="/" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/vendor.css" asp-append-version="true" />
    <link href="~/assets/indigo-pink.css" rel="stylesheet" asp-append-version="true" > 
</head>
<body>
    @RenderBody()

    @RenderSection("scripts", required: false)
</body>
</html>
