<div class="example-container mat-elevation-z8">
    <div class="example-loading-shade"
         *ngIf="isLoadingResults || isRateLimitReached">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
      <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
        GitHub's API rate limit has been reached. It will be reset in one minute.
      </div>
    </div>
  
    <mat-table #table [dataSource]="dataSource" class="example-table"
               matSort matSortActive="lastUpdate" matSortDisableClear matSortDirection="asc">
  
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definitio" -->

  
      <!-- name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef class="example-header">Tillvärkare</mat-header-cell>
        <mat-cell *matCellDef="let row" class="example-cell" [routerLink]="['/tires/', row.id]" >{{ row.name}}</mat-cell>
      </ng-container>
  
      <!-- State Column -->
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef class="example-header example-header-id">Id</mat-header-cell>
        <mat-cell *matCellDef="let row" class="example-cell example-cell-id" [routerLink]="['/tires/', row.id]" >{{ row.id }}</mat-cell>
      </ng-container>
  
      <!-- Created Column -->
      <ng-container matColumnDef="lastUpdate">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header
                         disableClear="true" class="example-header ">
          Last Update
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="example-cell " [routerLink]="['/tires/', row.id]" >{{ row.lastUpdate | date }}</mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  
    <mat-paginator [length]="resultsLength" [pageSize]="2">
    </mat-paginator>
  </div>
  
<!-- <h2>tires</h2>
<p *ngIf="auth.isAuthenticated()">
    <a [routerLink]="['/vehicles/new']" class="btn btn-primary">Nytt Fordon</a>
</p>
<div class="well">
    <div class="form-group">
        <label for="make">Märke</label>
        <select name="" id="make" class="form-control" [(ngModel)]="query.makeId" (change)="onFilterChange()">
            <option value=""></option>
            <option *ngFor="let m of makes" value=" {{ m.id }} ">{{ m.name }}</option>
        </select>
    </div>
    <button class="btn btn-default" (click)="resetFilter()">Reset</button>
</div>

<table class="table">
    <thead>
        <tr>
            <th *ngFor="let c of columns">
                <div *ngIf="c.isSortable" (click)="sortBy(c.key)">
                    {{ c.title }}
                    <i *ngIf="query.sortBy === c.key" 
                        class="fa"
                        [class.fa-sort-asc]="query.isSortAscending"
                        [class.fa-sort-desc]="!query.isSortAscending"
                        aria-hidden="true"
                    ></i>
                </div>
                <div *ngIf="!c.isSortable">
                        {{ c.title }}
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let v of queryResult.items">
            <td>{{ v.id }}</td>
            <td>{{ v.make.name }}</td>
            <td>{{ v.model.name }}</td>
            <td>
                <a [routerLink]="['/vehicles/', v.id]">View</a>
            </td>
        </tr>       
    </tbody>
</table>
<pagination [total-items]="queryResult.totalItems" [page-size]="query.pageSize" (page-changed)="onPageChange($event)"></pagination> -->