<h1>Däck</h1>
<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#basic" aria-controls="basic" role="tab" data-toggle="tab">Däck</a></li>
    <li role="presentation"><a href="#photos" aria-controls="photos" role="tab" data-toggle="tab">Bilder</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content" *ngIf="tire">
    <!--tire  tab -->
    <div role="tabpanel" class="tab-pane active" id="basic">
      <h2>Egenskaper</h2>
      <ul>
        <li>Namn: {{ tire.name }}</li>
        <li>Dimensioner: {{ tire.tireDim.name }}</li>
        <li>Typ: {{ tire.tireType }}</li>
      </ul>
      
      <p>
        <a *ngIf="auth.isAuthenticated()" class="btn btn-primary" [routerLink]="['/tires/edit/', tire.id]">Ändra</a>
        <button *ngIf="auth.isAuthenticated()" class="btn btn-danger" (click)="delete()">Radera</button>
        <a class="btn btn-default" [routerLink]="['/tires']">Se alla fälgar</a>
      </p>
    </div>
    <!-- Photos tab -->
    <div role="tabpanel" class="tab-pane" id="photos">
      <h2>Bilder</h2>
      <!-- Uploads photo on change event and givs a variable -->
      <input *ngIf="auth.isAuthenticated()" type="file" (change)="uploadPhoto()" #fileInput> 
      <div class="progress" *ngIf="progress && progress.percentage < 100">
        <div class="progress-bar" [style.width]="progress.percentage + '%'">
          <span class="sr-only">{{ progress.percentage }}% Complete</span>
        </div>
      </div>
      <div *ngFor="let photo of photos">
        <button class="btn btn-danger" (click)="deletePhoto( photo.id )">Ta bort bild</button>
        <img  src="/uploads/{{photo.thumbnailPath}}" class="img-thumbnail">
      </div>
    </div>
  </div>
</div>


