<div class="user-button-container" #userButton (msClickOutside)="onClickOutside()">
  <button class="user-button" mat-button (click)="toggleDropdown()" [class.open]="isOpen">
    <span fxLayout="row" fxLayoutAlign="start center">
      <img class="avatar" src="/assets/img/avatars/noavatar.png">
      <span class="name" fxHide fxShow.gt-sm>David Smith</span>
      <mat-icon class="icon" fxHide fxShow.gt-sm>keyboard_arrow_down</mat-icon>
    </span>
  </button>

  <div class="dropdown mat-elevation-z1" [class.open]="isOpen">
    <div class="content">
      <div class="list">
        <div class="item" fxLayout="row" fxLayoutAlign="start center" matRipple [routerLink]="['/contact']">
          <mat-icon class="icon">account_circle</mat-icon>
          <span class="title">Profil</span>
        </div>
        <div class="item" fxLayout="row" fxLayoutAlign="start center" matRipple>
          <mat-icon class="icon">settings</mat-icon>
          <span class="title">Settings</span>
        </div>
        <div class="item" fxLayout="row" fxLayoutAlign="start center" matRipple>
          <mat-icon class="icon">help</mat-icon>
          <span class="title">Help</span>
        </div>
        <mat-divider></mat-divider>
        <div class="item" fxLayout="row" fxLayoutAlign="start center" matRipple [routerLink]="['/login']">
          <mat-icon class="icon">exit_to_app</mat-icon>
          <span class="title" (click)="authService.logout()" >Logout</span>
        </div>
      </div>
    </div>
  </div>
</div>
