@import "../../../styles/_var";

$height__table-header: 51px;
$height__main-toolbar__plus_8px: $height__main-toolbar + 8px;

:host {
  display: block;
  height: calc(100% - #{$height__main-toolbar__plus_8px});
  margin: 36px;
  position: relative;
}

.table-container {
  height: 100%;
}

.table-header {
  height: $height__table-header;
  background-color: #fff;
  color: #757575;
  border-bottom: 1px solid rgba(0,0,0,.12);

  & > div {
    vertical-align: bottom;

    & > .name {
      padding-left: 16px;
    }
  }

  &.table-condensed {
    & > div {
      & > .name {
        padding-left: 8px;
      }
    }
  }
}

.table-content {
  height: calc(100% - #{$height__table-header});
  overflow: auto;
}

.avatar-cell {
  text-align: center;
  width: 40px;
  padding-left: 24px;
  padding-right: 8px;
}

.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
  position: relative;
}

.example-header {
  min-height: 30px;
  display: flex;
  align-items: center;
  padding-left: 24px;
  font-size: 20px;
}

.example-cell {
  display: flex;
  align-items: center;
  padding-left: 24px;

}

.example-table {
  overflow: auto;
  min-height: 300px;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-rate-limit-reached {
  color: #980000;
  max-width: 360px;
  text-align: center;
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 124px;
}

.example-header-id, .example-cell-id{
  flex: 0 0 10%;
}