
<mat-sidenav-container class="admin-container">

  <mat-sidenav class="quickpanel" [opened]="quickpanelOpen" align="end" mode="over" #quickpanel>

    <ms-quickpanel></ms-quickpanel>

  </mat-sidenav>

  <mat-sidenav class="sidenav" [opened]="sidenavOpen" align="start" [mode]="sidenavMode" msIconSidenav #sidenav>

    <ms-sidenav></ms-sidenav>

  </mat-sidenav>

  <div class="content-container" fxLayout="column">
    <ms-toolbar [quickpanel]="quickpanel" [sidenav]="sidenav"></ms-toolbar>

    <div class="main-container" #scrollContainer>
      <router-outlet (activate)="onActivate($event, scrollContainer)"></router-outlet>
    </div>
  </div>

</mat-sidenav-container>
