<h1>Din Profil</h1>
<p>
  {{
    contact | json
  }}
</p>
<form #f="ngForm" (ngSubmit)="submit()" novalidate>
    <ul class="list-group">
        <li class="list-group-item">Namn: {{contact.name}}</li>
        <li class="list-group-item">Epost: {{contact.email}}</li>
        <li class="list-group-item">Telefon: <input id="phone" type="text" class="form-control" [(ngModel)]="contact.phone" name="phone"></li>
      </ul>
    <h2>Kontakt</h2>
    <div class="form-group">
      <label for="address">Adress</label>
      <input id="address" type="text" class="form-control" [(ngModel)]="contact.address" name="address">
    </div>
    <div class="form-group">
      <label for="postalCode">Postnummer</label>
      <input id="postalCode" type="text" class="form-control" [(ngModel)]="contact.postalCode" name="postalCode">
    </div>
    <div class="form-group">
      <label for="city">Stad</label>
      <input id="city" type="text" class="form-control" [(ngModel)]="contact.city" name="city">
    </div>
    <div class="form-group">
        <label for="description">Beskrivning</label>
        <input id="description" type="text" class="form-control" [(ngModel)]="contact.description" name="description">
      </div>
<div class="col-md-12">
    <button class="btn btn-primary" [disabled]="!f.valid">Spara</button>
</div>
  
</form>