<h1>Admin</h1>

<div>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#basic" aria-controls="basic" role="tab" data-toggle="tab">Dashboard</a></li>
    <li role="presentation"><a href="#csv" aria-controls="csv" role="tab" data-toggle="tab">Import</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content" >
    <!-- Vehicle tab -->
    <div role="tabpanel" class="tab-pane active" id="basic">
      <h2>Admin</h2>
      <div>
          <chart type="pie" [data]="data"></chart>
      </div>
      <br/>
    </div>
    <!-- Photos tab -->
    <div role="tabpanel" class="tab-pane" id="csv">
      <h2>Import DäckDimensioner</h2>
      <!-- Uploads photo on change event and givs a variable -->
      <input type="file" (change)="uploadCsv('tireDims')" #fileInputTireDims> 
      <div class="progress" *ngIf="progress && progress.percentage < 100">
        <div class="progress-bar" [style.width]="progress.percentage + '%'">
          <span class="sr-only">{{ progress.percentage }}% Complete</span>
        </div>
      </div>
      <h2>Import FälgDimensioner</h2>
      <!-- Uploads photo on change event and givs a variable -->
      <input type="file" (change)="uploadCsv('RimDims')" #fileInputRimDims> 
      <div class="progress" *ngIf="progress && progress.percentage < 100">
        <div class="progress-bar" [style.width]="progress.percentage + '%'">
          <span class="sr-only">{{ progress.percentage }}% Complete</span>
        </div>
      </div>
      <h2>Import Modeller</h2>
      <input type="file" (change)="uploadCsv('models')" #fileInputModels> 
      <div class="progress" *ngIf="progress && progress.percentage < 100">
        <div class="progress-bar" [style.width]="progress.percentage + '%'">
          <span class="sr-only">{{ progress.percentage }}% Complete</span>
        </div>
      </div>
        <h2>Import Tillverkare</h2>
        <input type="file" (change)="uploadCsv('makes')" #fileInputMakes> 
        <div class="progress" *ngIf="progress && progress.percentage < 100">
          <div class="progress-bar" [style.width]="progress.percentage + '%'">
            <span class="sr-only">{{ progress.percentage }}% Complete</span>
          </div>
        </div>
    </div>
  </div>
</div>


