<h1>Vehicle</h1>
<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#basic" aria-controls="basic" role="tab" data-toggle="tab">Vehicle</a></li>
    <li role="presentation"><a href="#photos" aria-controls="photos" role="tab" data-toggle="tab">Photos</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content" *ngIf="vehicle">
    <!-- Vehicle tab -->
    <div role="tabpanel" class="tab-pane active" id="basic">
      <h2>Basics</h2>
      <ul>
        <li>Make: {{ vehicle.make.name }}</li>
        <li>Model: {{ vehicle.model.name }}</li>
        <li>Registered: {{ vehicle.isRegistered ? 'Yes' : 'No' }}
      </ul>
      <h2>Features</h2>
      <ul>
        <li *ngFor="let f of vehicle.features">{{ f.name }}</li>
      </ul>
      
      <p>
        <a *ngIf="auth.isAuthenticated()" class="btn btn-primary" [routerLink]="['/vehicles/edit/', vehicle.id]">Edit</a>
        <button *ngIf="auth.isAuthenticated()" class="btn btn-danger" (click)="delete()">Radera</button>
        <a class="btn btn-default" [routerLink]="['/vehicles']">Se alla fordon</a>
      </p>
    </div>
    <!-- Photos tab -->
    <div role="tabpanel" class="tab-pane" id="photos">
      <h2>Photos</h2>
      <!-- Uploads photo on change event and givs a variable -->
      <input *ngIf="auth.isAuthenticated()" type="file" (change)="uploadPhoto()" #fileInput> 
      <div class="progress" *ngIf="progress && progress.percentage < 100">
        <div class="progress-bar" [style.width]="progress.percentage + '%'">
          <span class="sr-only">{{ progress.percentage }}% Complete</span>
        </div>
      </div>
      <div *ngFor="let photo of photos" style="position:relative;float:left;">
        
        <img  src="/uploads/{{photo.thumbnailPath}}" class="img-thumbnail">
        <button class="btn btn-danger" (click)="deletePhoto( photo.id )" style="position:absolute; right:1px; top:1px">X</button>
      </div>
    </div>
  </div>
</div>


