<p>
  {{
    vehicle | json
  }}
</p>
<div fxLayout="column">
  <div fxLayout="row" fxLayoutAlign="center center" style="margin: 24px 0;">
    <mat-card fxFlex>
      <mat-card-title>Lägg upp ett nytt bil</mat-card-title>

      <mat-divider></mat-divider>

      <mat-card-content fxLayout="column">

        <div fxLayout="column" fxLayout.gt-md="row" fxLayoutAlign="start stretch" fxLayoutAlign.gt-md="start start" style="margin: 24px 0">

          <div fxFlex>
                <div class="demo-preview" fxLayout="row" fxLayoutAlign="center center">
                  <mat-card fxFlex="80%" fxFlex.sm="90%">
                    <mat-card-content fxLayout="column">
                      <div fxLayout="column" fxLayout.gt-md="row">
                        <mat-form-field fxFlex>
                          <input matInput #makeInput placeholder="Märke" [matAutocomplete]="reactiveMakeAuto" [formControl]="makeCtrl" >
                          <mat-autocomplete #reactiveMakeAuto="matAutocomplete" [displayWith]="displayFn" >
                            <mat-option *ngFor="let make of reactiveMakes | async" [value]=make>
                              <span>{{ make.name }}</span>
                            </mat-option>
                          </mat-autocomplete>
                        </mat-form-field>

                        <mat-form-field fxFlex>
                            <input matInput #modelInput placeholder="Modell" [matAutocomplete]="reactiveModelAuto" [formControl]="modelCtrl">
                          <mat-autocomplete #reactiveModelAuto="matAutocomplete" [displayWith]="displayFn" >
                            <mat-option *ngFor="let model of reactiveModels | async" [value]=model>
                              <span>{{ model.name }}</span>
                            </mat-option>
                          </mat-autocomplete>
                        </mat-form-field>
                      </div>
                    </mat-card-content>
                  </mat-card>
                </div>

                <div class="demo-preview" fxLayout="row" fxLayoutAlign="center center">
                  <mat-card fxFlex="80%" fxFlex.sm="90%">
                    <mat-card-content fxLayout="column">
                      <div fxLayout="column" fxLayout.gt-md="row">
                        <form #f="ngForm" (ngSubmit)="submit()" novalidate>
                          <p>Är det här fordonet registrerat?</p>
                          <label for="registered" class="radio-inline">
                              <input type="radio" name="isRegistered" id="registered" [value]="true" [(ngModel)]="vehicle.isRegistered"> Ja
                          </label>
                          <label for="notRegistered" class="radio-inline">
                              <input type="radio" name="isRegistered" id="notRegistered" [value]="false" [(ngModel)]="vehicle.isRegistered"> Nej
                          </label>
                        </form>
                      </div>
                    </mat-card-content>
                  </mat-card>
                </div>
                <div class="demo-preview" fxLayout="row" fxLayoutAlign="center center">
                  <mat-card fxFlex="80%" fxFlex.sm="90%">
                    <mat-card-content fxLayout="column">
                      <div fxLayout="column" fxLayout.gt-md="row">
                        <form #f="ngForm" (ngSubmit)="submit()" novalidate>
                          <h3>Bilens egenskaper</h3>
                          <div>
                            <div *ngFor="let f of features" class="checkbox floatleft">
                              <label for="feature{{ f.id }}">
                                <input type="checkbox" id="feature{{ f.id }}" (change)="onFeatureToggle(f.id, $event)" [checked]="vehicle.features.includes(f.id)"> {{ f.name }}
                              </label>
                            </div>
                          </div>
                          <button class="btn btn-primary" [disabled]="!f.valid">Spara</button>
                        </form>
                      </div>
                    </mat-card-content>
                  </mat-card>
                </div>

                <div class="demo-preview" fxLayout="row" fxLayoutAlign="center center">
                  <mat-card fxFlex="80%" fxFlex.sm="90%">
                    <mat-card-content fxLayout="column">
                      <div fxLayout="column" fxLayout.gt-md="row">
                          <div class="well">
                          <h3>BilInformation</h3>
                              <div class="btn" (click)="getCarInfo(searchRegNr)" for="searchRegNr">Sök med Regnummer</div>
                              <input pattern="[a-zA-Z0-9]{1,6}" class="form-group" id="searchRegNr" type="text" class="form-control" [(ngModel)]="searchRegNr" name="searchRegNr"/>
                          </div>
                      <div>
                            <div *ngFor="let c of carInfos; let i=index" class="floatleft">
                              <div class="well">
                                <label style="font-size:0.8em" for="{{ c }}">{{ carInfoLabels[i] }}
                                <input id="{{ c }}" type="text" [(ngModel)]="vehicle[c]" name="{{ c }}"/>
                              </label>
                              </div>
                            </div>
                      </div>
                      </div>
                      
                    </mat-card-content>
                  </mat-card>
                </div>

          </div>
        </div>



<!-- <form #f="ngForm" (ngSubmit)="submit()" novalidate>
  <div class="form-group">
    <label for="make">Märke</label>
    <select id="make" class="form-control" (change)="onMakeChange()" [(ngModel)]="vehicle.makeId" name="makeId" required #make="ngModel">
      <option value=""></option>
      <option *ngFor="let m of makes" value="{{ m.id }}">{{ m.name }}</option>
    </select>
    <div class="alert alert-danger" *ngIf="make.touched && !make.valid">Vänligen välj Märke</div>
  </div>
  <div class="form-group">
    <label for="model">Modell</label>
    <select id="model" class="form-control" [(ngModel)]="vehicle.modelId" name="modelId" required #model="ngModel">
      <option value=""></option>
      <option *ngFor="let m of models" value="{{ m.id }}">{{ m.name }}</option>
    </select>
    <div class="alert alert-danger" *ngIf="model.touched && !model.valid">Vänligen välj Modell</div>
  </div>
  <p>Är det här fordonet registrerat?</p>
  <label for="registered" class="radio-inline">
      <input type="radio" name="isRegistered" id="registered" [value]="true" [(ngModel)]="vehicle.isRegistered"> Ja
  </label>
  <label for="notRegistered" class="radio-inline">
      <input type="radio" name="isRegistered" id="notRegistered" [value]="false" [(ngModel)]="vehicle.isRegistered"> Nej
  </label>
  <div class="well col-md-12">
  <h2>Egenskaper</h2>
  <div *ngFor="let f of features" class="checkbox">
    <label for="feature{{ f.id }}">
      <input type="checkbox" id="feature{{ f.id }}" (change)="onFeatureToggle(f.id, $event)" [checked]="vehicle.features.includes(f.id)"> {{ f.name }}
    </label>
  </div>
</div>
<div class="well col-md-12">
    <h2>BilInformation</h2>
    <div class="btn" (click)="getCarInfo(searchRegNr)" for="searchRegNr">Sök med Regnummer</div>
    <input pattern="[a-zA-Z0-9]{1,6}" class="form-group" id="searchRegNr" type="text" class="form-control" [(ngModel)]="searchRegNr" name="searchRegNr"/>
</div>
    <div *ngFor="let c of carInfos; let i=index" class="form-group col-md-2" style="height:100px">
      <div class="well">
      <label style="font-size:0.8em" for="{{ c }}">{{ carInfoLabels[i] }}</label>
      <input id="{{ c }}" type="text" class="form-control" [(ngModel)]="vehicle[c]" name="{{ c }}"/>
    </div>
    </div>
<div class="col-md-12">
    <button class="btn btn-primary" [disabled]="!f.valid">Spara</button>
</div>
  
</form> -->