@{
    ViewData["Title"] = "Home Page";
}

<style>
    .page-load-animation {
    opacity: 1;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    animation: pageLoad linear 1;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
    animation-delay: 0.5s;
    background: #2B303B;
    z-index: 9999;
    pointer-events: none;
    }

    body, html {
    width: 100%;
    height: 100%;
}
</style>

<div class="page-load-animation"></div>
<app xasp-prerender-module="ClientApp/dist/main-server">
    
    
</app>


<script src="~/dist/vendor.js" asp-append-version="true"></script>
@section scripts {
    <script src="~/dist/main-client.js" asp-append-version="true"></script>
}
