<!-- <h1>Ny Modell</h1>
<p>
  {{
    model | json
  }}
</p>
<form #f="ngForm" (ngSubmit)="submit()" novalidate>
  <div class="form-group">
    <label for="make">Märke</label>
    <select id="make" class="form-control" (change)="onMakeChange()" [(ngModel)]="model.makeId" name="makeId" required #make="ngModel">
      <option value=""></option>
      <option *ngFor="let m of makes" value="{{ m.id }}">{{ m.name }}</option>
    </select>
    <div class="alert alert-danger" *ngIf="make.touched && !make.valid">Vänligen välj Märke</div>
  </div>
  <div class="form-group">
    <label for="model">Modell</label>
    <select id="model" class="form-control" [(ngModel)]="model.modelId" name="modelId" required #model="ngModel">
      <option value=""></option>
      <option *ngFor="let m of models" value="{{ m.id }}">{{ m.name }}</option>
    </select>
    <div class="alert alert-danger" *ngIf="model.touched && !model.valid">Vänligen välj Modell</div>
  </div>
  <h2>DäckDimensioner</h2>
  <div class="form-group">
  <label for="tireDim">
        <select multiple id="tireDim" class="form-control" name="tireDimIds" size="7">
            <option *ngFor="let t of tireDims" value="{{ t.id }}">{{ t.name }}</option>
          </select>
    </label>
    <!-- <label for="selectedTireDims">
      <select>
        </select>
    </label>
  </div>
  <!-- <h2>FälgDimensioner</h2>
  <div class="form-group">
  <label for="rimDim">
        <select multiple id="rimDim" class="form-control" name="rimDimIds" size="7">
            <option *ngFor="let r of rimDims" value="{{ r.id }}">{{ t.name }}</option>
          </select>
    </label> -->
    <!-- <label for="selectedTireDims">
      <select>
        </select>
    </label>
  </div>
  <h2>Egenskaper</h2>
  <div *ngFor="let f of features" class="checkbox">
    <label for="feature{{ f.id }}">
      <input type="checkbox" id="feature{{ f.id }}" (change)="onFeatureToggle(f.id, $event)" [checked]="model.features.includes(f.id)"> {{ f.name }}
    </label>
  </div>
  <button class="btn btn-primary" [disabled]="!f.valid">Spara</button>
</form> -->