<p>
  {{
    tire | json
  }}
</p>
<div fxLayout="column">
  <div fxLayout="row" fxLayoutAlign="center center" style="margin: 24px 0;">
    <mat-card fxFlex>
      <mat-card-title>Lägg upp ett nytt däck</mat-card-title>

      <mat-divider></mat-divider>

      <mat-card-content fxLayout="column">

        <div fxLayout="column" fxLayout.gt-md="row" fxLayoutAlign="start stretch" fxLayoutAlign.gt-md="start start" style="margin: 24px 0">

          <div fxFlex>
            <!-- <mat-tab-group>
              <mat-tab label="Välj din modell"> -->
                <div class="demo-preview" fxLayout="row" fxLayoutAlign="center center">
                  <mat-card fxFlex="80%" fxFlex.sm="90%">
                    <mat-card-content fxLayout="column">
                      <div fxLayout="column" fxLayout.gt-md="row">
                        <mat-form-field fxFlex>
                          <input matInput #tireMakeInput placeholder="Märke" [matAutocomplete]="reactiveTireMakeAuto" [formControl]="tireMakeCtrl" >
                          <mat-autocomplete #reactiveTireMakeAuto="matAutocomplete" [displayWith]="displayFn" >
                            <mat-option *ngFor="let tireMake of reactiveTireMakes | async" [value]=tireMake>
                              <span>{{ tireMake.name }}</span>
                            </mat-option>
                          </mat-autocomplete>
                        </mat-form-field>

                        <mat-form-field fxFlex>
                            <input matInput #tireModelInput placeholder="Modell" [matAutocomplete]="reactiveTireModelAuto" [formControl]="tireModelCtrl">
                          <mat-autocomplete #reactiveTireModelAuto="matAutocomplete" [displayWith]="displayFn" >
                            <mat-option *ngFor="let tireModel of reactiveTireModels | async" [value]=tireModel>
                              <span>{{ tireModel.name }}</span>
                            </mat-option>
                          </mat-autocomplete>
                        </mat-form-field>
                      </div>
                    </mat-card-content>
                  </mat-card>
                </div>

                <div class="demo-preview" fxLayout="row" fxLayoutAlign="center center">
                  <mat-card fxFlex="80%" fxFlex.sm="90%">
                    <mat-card-content fxLayout="column">
                      <div fxLayout="column" fxLayout.gt-md="row">
                        <mat-form-field fxFlex>
                          <input matInput #tireDimInput placeholder="Dimension" [matAutocomplete]="reactiveTireDimAuto" [formControl]="tireDimCtrl" >
                          <mat-autocomplete #reactiveTireDimAuto="matAutocomplete" [displayWith]="displayFn" >
                            <mat-option *ngFor="let tireDim of reactiveTireDims | async" [value]=tireDim>
                              <span>{{ tireDim.name }}</span>
                            </mat-option>
                          </mat-autocomplete>
                        </mat-form-field>
                      </div>
                    </mat-card-content>
                  </mat-card>
                </div>

                <div class="demo-preview" fxLayout="row" fxLayoutAlign="center center">
                  <mat-card fxFlex="80%" fxFlex.sm="90%">
                    <mat-card-content fxLayout="column">
                      <div fxLayout="column" fxLayout.gt-md="row">
                        <form #f="ngForm" (ngSubmit)="submit()" novalidate>
                          <p>Typ av däck</p>
                          <p>
                          <label for="summer" class="radio-inline">
                              <input type="radio" name="tireType" id="summer" value="summer" [(ngModel)]="tire.tireType"/> Sommardäck
                          </label>
                          <label for="winter" class="radio-inline">
                              <input type="radio" name="tireType" id="winter" value="winter" [(ngModel)]="tire.tireType"/> Vinterdäck
                          </label>
                          <label for="MS" class="radio-inline">
                            <input type="radio" name="tireType" id="MS" value="MS" [(ngModel)]="tire.tireType"/> MS
                        </label>
                        </p>  
                         <p> <button class="btn btn-primary" [disabled]="!f.valid">Spara</button></p>
                        </form>
                      </div>
                    </mat-card-content>
                  </mat-card>
                </div>
 
              <!-- </mat-tab>
            </mat-tab-group> -->
          </div>

        </div>
