<div class="example-container mat-elevation-z8">
    <div class="example-loading-shade"
         *ngIf="isLoadingResults || isRateLimitReached">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
      <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
        GitHub's API rate limit has been reached. It will be reset in one minute.
      </div>
    </div>
  
    <mat-table #table [dataSource]="dataSource" class="example-table"
               matSort matSortActive="lastUpdate" matSortDisableClear matSortDirection="asc">
  
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definitio" -->
      <!-- Number Column -->
      <ng-container matColumnDef="size">
        <mat-header-cell  *matHeaderCellDef class="example-header example-header-id">Storlek</mat-header-cell>
        <mat-cell *matCellDef="let row" class="example-cell example-cell-id" [routerLink]="['/rims/', row.id]" >{{ row.rimSize }}</mat-cell>
      </ng-container>

      <!-- Number Column -->
      <ng-container matColumnDef="type">
        <mat-header-cell *matHeaderCellDef class="example-header example-header-id">Typ</mat-header-cell>
        <mat-cell *matCellDef="let row" class="example-cell example-cell-id" [routerLink]="['/rims/', row.id]" >{{ row.rimType }}</mat-cell>
      </ng-container>

      <!-- Number Column -->
      <ng-container matColumnDef="rimDim">
        <mat-header-cell *matHeaderCellDef class="example-header">Dimensioner</mat-header-cell>
        <mat-cell *matCellDef="let row" class="example-cell" [routerLink]="['/rims/', row.id]" >{{ row.dimension }}</mat-cell>
      </ng-container>
  
      <!-- name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef class="example-header">Namn</mat-header-cell>
        <mat-cell *matCellDef="let row" class="example-cell" [routerLink]="['/rims/', row.id]" >{{ row.name }}</mat-cell>
      </ng-container>
  
      <!-- State Column -->
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef class="example-header example-header-id">Id</mat-header-cell>
        <mat-cell *matCellDef="let row" class="example-cell example-cell-id" [routerLink]="['/rims/', row.id]" >{{ row.id }}</mat-cell>
      </ng-container>
  
      <!-- Created Column -->
      <ng-container matColumnDef="lastUpdate">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header
                         disableClear="true" class="example-header ">
          Last Update
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="example-cell " [routerLink]="['/rims/', row.id]" >{{ row.lastUpdate | date }}</mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  
    <mat-paginator [length]="resultsLength" [pageSize]="2">
    </mat-paginator>
  </div>

<!-- <div fxLayout="column" fxLayout.gt-md="row" style="height: 100%;">
    <mat-card fxFlex.gt-md="300px" style="margin-right: 16px;">
    <mat-card-title>Dina Fälgar</mat-card-title>
        <p>
            <a [routerLink]="['/rims/new']" class="btn btn-primary">Ny Fälg</a>
        </p>
    </mat-card>

    <div fxFlex class="table-container mat-elevation-z2">
        <div class="table-header" fxLayout="row" [class.table-condensed]="tableCondensed">
            <div *ngFor="let c of columns; let i = index" [style.width.px]="cellWidths[i]" fxLayout="row" fxLayoutAlign="start center">
                <div *ngIf="c.isSortable" (click)="sortBy(c.key)" >
                    {{ c.title }}
                    <i *ngIf="query.sortBy === c.key" 
                        class="fa"
                        [class.fa-sort-asc]="query.isSortAscending"
                        [class.fa-sort-desc]="!query.isSortAscending"
                        aria-hidden="true"
                    ></i>
                </div>
                <div *ngIf="!c.isSortable">
                        {{ c.title }}
                </div>
            </div>
        </div>
        <div class="table-content">
            <table class="table" [class.table-hover]="tableHover" [class.table-striped]="tableStriped" [class.table-condensed]="tableCondensed" [class.table-bordered]="tableBordered">
                <tbody #tbody>
                    <tr *ngFor="let r of queryResult.items">
                        <td>{{ r.id }}</td>
                        <td>{{ r.name }}</td>
                        <td>{{ r.rimDim.name }}</td>
                        <td>{{ r.rimSize }}</td>
                        <td>
                            <a [routerLink]="['/rims/', r.id]">View</a>
                        </td>
                    </tr>       
                </tbody>
            </table>
        </div>
    </div>
</div>
<pagination [total-items]="queryResult.totalItems" [page-size]="query.pageSize" (page-changed)="onPageChange($event)"></pagination> -->

<!-- <h2>Fälgar</h2>
<p *ngIf="authService.isAuthenticated()">
    <a [routerLink]="['/rims/new']" class="btn btn-primary">Ny Fälg</a>
</p>
<div class="well">
    <div class="form-group">
        <label for="name">Namn</label>
        <select name="" id="name" class="form-control" [(ngModel)]="query.nameId" (change)="onFilterChange()">
            <option value=""></option>
            <option *ngFor="let n of names" value=" {{ n.id }} ">{{ n.name }}</option>
        </select>
    </div>
    <button class="btn btn-default" (click)="resetFilter()">Reset</button>
</div>

<table class="table">
    <thead>
        <tr>
            <th *ngFor="let c of columns">
                <div *ngIf="c.isSortable" (click)="sortBy(c.key)">
                    {{ c.title }}
                    <i *ngIf="query.sortBy === c.key" 
                        class="fa"
                        [class.fa-sort-asc]="query.isSortAscending"
                        [class.fa-sort-desc]="!query.isSortAscending"
                        aria-hidden="true"
                    ></i>
                </div>
                <div *ngIf="!c.isSortable">
                        {{ c.title }}
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let r of queryResult.items">
            <td>{{ r.id }}</td>
            <td>{{ r.name }}</td>
            <td>{{ r.rimDim.name }}</td>
            <td>{{ r.rimSize }}</td>
            <td>
                <a [routerLink]="['/rims/', r.id]">View</a>
            </td>
        </tr>       
    </tbody>
</table>
<pagination [total-items]="queryResult.totalItems" [page-size]="query.pageSize" (page-changed)="onPageChange($event)"></pagination> -->