<p>
  {{
    rim | json
  }}
</p>
<div fxLayout="column">
  <div fxLayout="row" fxLayoutAlign="center center" style="margin: 24px 0;">
    <mat-card fxFlex>
      <mat-card-title>Lägg upp en ny fälg</mat-card-title>

      <mat-divider></mat-divider>

      <mat-card-content fxLayout="column">

        <div fxLayout="column" fxLayout.gt-md="row" fxLayoutAlign="start stretch" fxLayoutAlign.gt-md="start start" style="margin: 24px 0">

          <div fxFlex>
            <!-- <mat-tab-group>
              <mat-tab label="Välj din modell"> -->
                <div class="demo-preview" fxLayout="row" fxLayoutAlign="center center">
                  <mat-card fxFlex="80%" fxFlex.sm="90%">
                    <mat-card-content fxLayout="column">
                      <div fxLayout="column" fxLayout.gt-md="row">
                        <mat-form-field fxFlex>
                          <input matInput [(ngModel)]="rim.name" placeholder="Namn" >
                        </mat-form-field>
                      </div>
                    </mat-card-content>
                  </mat-card>
                </div>

                <div class="demo-preview" fxLayout="row" fxLayoutAlign="center center">
                  <mat-card fxFlex="80%" fxFlex.sm="90%">
                    <mat-card-content fxLayout="column">
                      <div fxLayout="column" fxLayout.gt-md="row">
                        <mat-form-field fxFlex>
                          <input matInput #rimDimInput placeholder="Dimension" [matAutocomplete]="reactiveRimDimAuto" [formControl]="rimDimCtrl" >
                          <mat-autocomplete #reactiveRimDimAuto="matAutocomplete" [displayWith]="displayFn" >
                            <mat-option *ngFor="let rimDim of reactiveRimDims | async" [value]=rimDim>
                              <span>{{ rimDim.name }}</span>
                            </mat-option>
                          </mat-autocomplete>
                        </mat-form-field>
                      </div>
                    </mat-card-content>
                  </mat-card>
                </div>

                <div class="demo-preview" fxLayout="row" fxLayoutAlign="center center">
                  <mat-card fxFlex="80%" fxFlex.sm="90%">
                    <mat-card-content fxLayout="column">
                      <div fxLayout="column" fxLayout.gt-md="row">
                        <mat-form-field fxFlex>
                          <input matInput #rimSizeInput placeholder="Storlek" [matAutocomplete]="reactiveRimSizeAuto" [formControl]="rimSizeCtrl" >
                          <mat-autocomplete #reactiveRimSizeAuto="matAutocomplete" [displayWith]="displayFn" >
                            <mat-option *ngFor="let rimSize of reactiveRimSizes | async" [value]=rimSize>
                              <span>{{ rimSize }}</span>
                            </mat-option>
                          </mat-autocomplete>
                        </mat-form-field>
                      </div>
                    </mat-card-content>
                  </mat-card>
                </div>

                <div class="demo-preview" fxLayout="row" fxLayoutAlign="center center">
                  <mat-card fxFlex="80%" fxFlex.sm="90%">
                    <mat-card-content fxLayout="column">
                      <div fxLayout="column" fxLayout.gt-md="row">
                        <form #f="ngForm" (ngSubmit)="submit()" novalidate>
                          <p>Typ av fälg</p>
                          <p>
                          <label for="steel" class="radio-inline">
                              <input type="radio" name="rimType" id="steel" value="steel" [(ngModel)]="rim.rimType"/> Plåt
                          </label>
                          <label for="alminium" class="radio-inline">
                              <input type="radio" name="rimType" id="alminium" value="alminium" [(ngModel)]="rim.rimType"/> Alminium
                          </label>
                        </p>  
                         <p> <button class="btn btn-primary" [disabled]="!f.valid">Spara</button></p>
                        </form>
                      </div>
                    </mat-card-content>
                  </mat-card>
                </div>
 
              <!-- </mat-tab>
            </mat-tab-group> -->
          </div>

        </div>

<!-- <form #f="ngForm" (ngSubmit)="submit()" novalidate>
  <div class="form-group">
    <label for="name">Namn</label>
    <input id="name" type="text" class="form-control" [(ngModel)]="rim.name" value="rim.name" name="name" required #name="ngModel">
    <div class="alert alert-danger" *ngIf="name.touched && !name.valid">Vänligen ange Namn på fälgen</div> 
  </div>
  <h2>Fälgens Egenskaper</h2>
  <div class="form-group">
    <label for="rimDim">Dimensioner</label>
    <select id="rimDim" class="form-control" [(ngModel)]="rim.rimDimId" name="rimDimId" required #rimDim="ngModel">
      <option value=""></option>
      <option *ngFor="let r of rimDims" value="{{ r.id }}">{{ r.name }}</option>
    </select>
    <div class="alert alert-danger" *ngIf="rimDim.touched && !rimDim.valid">Vänligen välj Dimensioner</div>
  </div>
  <div class="form-group">
    <label for="rimSize">Storlek</label>
    <select id="rimSize" class="form-control" [(ngModel)]="rim.rimSize" name="rimSize" required #rimSize="ngModel">
      <option value=""></option>
      <option *ngFor="let rs of rimSizes" value="{{ rs }}">{{ rs }}</option>
    </select>
    <div class="alert alert-danger" *ngIf="rimSize.touched && !rimSize.valid">Vänligen välj Storlek</div>
  </div>
  <p>Typ av däck</p>
  <label for="alminium" class="radio-inline">
      <input type="radio" name="rimType" id="alminium" value="alminium" [(ngModel)]="rim.rimType"/> alminium
  </label>
  <label for="steel" class="radio-inline">
      <input type="radio" name="rimType" id="steel" value="steel" [(ngModel)]="rim.rimType"/> Plåt
  </label>
  <button class="btn btn-primary" [disabled]="!f.valid">Spara</button>
</form> -->